/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://asciidoctor.org/stylesheets/asciidoctor.css"); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
    --maincolor:#282c34;
    --primarycolor:#f39c12;
    --secondarycolor:#03a9f4;
    --tertiarycolor:#4db6ac;
    --sidebarbackground:#21252b;
    --linkcolor:#f44336;
    --linkcoloralternate:#ff9800;
    --white:#FFFFFF;
}

/* Text styles */

body{font-family: "Source Code Pro",sans-serif;background-color: var(--maincolor);color:var(--white);}

h1{color:var(--primarycolor) !important;font-family:"Source Code Pro",sans-serif;}
h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;font-family:"Source Code Pro",sans-serif;}
.title{color:var(--white) !important;font-family:"Source Code Pro",sans-serif;font-style: normal; font-weight: normal;}
p{font-family: "Source Code Pro",sans-serif ! important}
#toc.toc2 a:link{color:var(--linkcolor);}
blockquote{color:var(--tertiarycolor) !important}
.quoteblock{color:var(--white)}
code{color:var(--linkcoloralternate);background-color: var(--sidebarbackground) !important}


/* Table styles */
th{background-color: var(--maincolor);color:var(--white) !important;}
td{background-color: var(--maincolor);color: var(--linkcoloralternate) !important}


#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--white);}

/* Responsiveness fixes */
video {
    max-width: 100%;
}

@media all and (max-width: 600px) {
    table {
        width: 55vw!important;
        font-size: 3vw;
    }
}

.exampleblock > .content {
    background-color: var(--maincolor);
}

a {
    color: var(--secondarycolor);
}

.admonitionblock td.icon .icon-tip::before {
    text-shadow: none;
    color: var(--white);
}
.admonitionblock td.icon .icon-note::before {
    color: var(--tertiarycolor);
}
.admonitionblock td.icon .icon-important::before {
    color: var(--linkcolor);
}
/*.admonitionblock td.icon .icon-caution::before {
  color: var(--linkcoloralternate);
}*/
.admonitionblock td.icon .icon-warning::before {
    color: var(--primarycolor);
}

#preamble > .sectionbody > .paragraph:first-of-type p {
    color: var(--white);
}

.quoteblock blockquote::before {
    color: var(--primarycolor);
}
.quoteblock .attribution cite, .verseblock .attribution cite {
    color: var(--white);
}
.verseblock pre {
    color: var(--white);
}
.quoteblock blockquote, .quoteblock blockquote p {
    color: var(--white);
}

.sidebarblock {
    background: var(--sidebarbackground);
}
.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
    background: var(--sidebarbackground);
    color: var(--white);
}

#header .details {
    color: var(--white);
}
#header .details span.email a {
    color: var(--linkcoloralternate);
}
